.loader {
  width: 230px;
  height: 60px;
  border: 0;
  outline: none;
  background-color: #ff003c;
  position: relative;
  font-family: Tomorrow, sans-serif;
  font-size: 0.85rem;
  text-transform: uppercase;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  margin-left: auto;
  margin-right: auto;
}
.loader-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: #ff003c;
  color: white;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  animation: glitch-animation 2s linear 0s infinite;
}
.chirp-list{
  margin-left: auto;
  margin-right: auto;
}
.chirp-list-col{
  margin-left: auto;
  margin-right: auto;
}