.chirp {
  background-color: #fcee09;
  width: 600px;
  height: 110px;
  font-size: 1rem;
  font-weight: 300;
  clip-path: polygon(4% 0, 80% 0%, 100% 0, 100% 80%, 95% 100%, 20% 100%, 0 100%, 0% 20%);
  margin-left: auto;
  margin-right: auto;
}
.chirp-label {
  height: 10px;
  font-size: 0.4rem;
  font-weight: 500;
  position: absolute;
  bottom: -3px;
  right: 8%;
  padding: 0 5px;
  background-color:  #fcee09;
  z-index: 3;
}
.chirp-head {
  display: flex;
  justify-content: space-between;
}
.chirp-text {
  font-size: 1.2rem;
  font-weight: 400;
}
.row {
  margin-bottom: 0.5rem;
  margin-left: 0;
  border: 0;
  outline: none;
  background-color:#050a0e;
  color: #050a0e;
  clip-path: polygon(4% 0, 80% 0%, 100% 0, 100% 80%, 95% 100%, 20% 100%, 0 100%, 0% 20%);
}
.col-lg {
  flex-basis: auto;
  flex-grow: unset;
}
