@import url("https://fonts.googleapis.com/css2?family=Tomorrow:wght@200;300;400;500;600&display=swap");

body {
  font-family: "Tomorrow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #050a0e;
  box-sizing: border-box;
}
.App{
  align-self: center;
  width: 600px;
}